@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing     : border-box;
    padding        : 0;
    margin         : 0;
    outline        : 0;
    list-style     : none;
    text-decoration: none;
    font-family    : 'Merriweather', serif;
}

:root {
    --prymary  : #260801;
    --secondary: #72652b;
    --bg-one   : #261514;
    --dark     : #3d3d21;
    --ligth    : #BFA380;
    --white    : #ffffffe0;
    --black    : #0a0a0a;

    --items : 10;
    --height: clamp(120px, 30vw, 300px);
    --width : clamp(200px, 40vw, 400px);
}

html {
    scroll-behavior   : smooth;
    overflow-x        : hidden;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--ligth);
    border-radius   : 5rem;
}

body {
    background-image: url(../src/img/banner3.jpg);
}

/*Preloader*/

.centrado {
    height          : 100vh;
    background-color: var(--black);
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.lds-grid {
    display : inline-block;
    position: relative;
    width   : 80px;
    height  : 80px;
}

.lds-grid div {
    position     : absolute;
    width        : 16px;
    height       : 16px;
    border-radius: 50%;
    background   : #fcf;
    animation    : lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top            : 8px;
    left           : 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top            : 8px;
    left           : 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top            : 8px;
    left           : 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top            : 32px;
    left           : 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top            : 32px;
    left           : 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top            : 32px;
    left           : 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top            : 56px;
    left           : 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top            : 56px;
    left           : 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top            : 56px;
    left           : 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


/*Sacar borde y brillo azul de bootstrap*/

input:focus,
input.form-control:focus {
    outline           : none !important;
    outline-width     : 0 !important;
    box-shadow        : none;
    -moz-box-shadow   : none;
    -webkit-box-shadow: none;
}

textarea:focus,
textarea.form-control:focus {
    outline           : none !important;
    outline-width     : 0 !important;
    box-shadow        : none;
    -moz-box-shadow   : none;
    -webkit-box-shadow: none;
}

a.btn:focus {
    outline           : none !important;
    outline-width     : 0 !important;
    box-shadow        : none;
    -moz-box-shadow   : none;
    -webkit-box-shadow: none;
}



/*Encabezados*/

.heading {
    color         : var(--ligth);
    font-size     : 2.3rem;
    text-align    : center;
    margin        : 2.5rem 0;
    text-transform: uppercase;
}

/*Top*/

.top {
    display: none;
}

.bi-arrow-up-circle {
    color        : var(--ligth);
    font-size    : 2.5rem;
    background   : var(--white);
    text-align   : center;
    right        : 3%;
    padding      : 1px;
    border-radius: 50%;
    width        : 2.5rem;
    height       : 2.5rem;
    line-height  : 1;
    position     : fixed;
    bottom       : 20rem;
    transition   : all .5s ease;
    animation    : upload 3s infinite alternate;
    cursor       : pointer;
    z-index      : 1000;
}

.bi-arrow-up-circle:hover {
    background: var(--ligth);
    color     : var(--white);
}

/*HEADER*/

.all-content {
    background: var(--bg-one);
}

.all-content #logo {
    padding: .5rem 2rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28259, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid var(--ligth);
}

.navbar-toggler:not(.collapsep)::after {
    filter: brightness(0%) invert(20%);
}

.navbar-toggler:focus {
    box-shadow: inherit;
}

.nav-link {
    color     : var(--ligth);
    font-size : 1.1rem;
    margin    : 1rem;
    transition: all .5s ease-in-out;
}

.nav-link.active {
    text-decoration: underline;
}

.nav-link:hover {
    color    : var(--white);
    transform: translateY(-5px);
}

.dropdown-menu {
    background: var(--bg-one);
}

.dropdown-item {
    color: var(--ligth);
}

/*INICIO*/

.home {
    width                : 100%;
    height               : 90vh;
    background-image     : linear-gradient(rgba(16, 16, 16, 0.432), rgba(16, 16, 16, 0.822)), url(../src/img/banner.jpg);
    background-size      : cover;
    background-attachment: fixed;
    clip-path            : polygon(0 0, 100% 0%, 100% 86%, 50% 100%, 0 86%);
    display              : flex;
    justify-content      : center;
    align-items          : center;
    flex-wrap            : wrap;
    position             : relative;
    z-index              : 0;
}

.home h2 {
    color        : var(--ligth);
    font-weight  : 800;
    font-size    : 2.5rem;
    margin-bottom: 1rem;
}

.home h3 {
    color        : var(--white);
    margin-bottom: 1rem;
}

.home span {
    color      : var(--white);
    font-weight: 800;
}

p {
    color        : var(--ligth);
    margin-bottom: 1rem;
}

.home .img {
    flex: 1 1 20rem;
}

.home .img img {
    width: 100%;
}

.home .content {
    flex       : 1 1 20rem;
    margin-left: 2rem;
}

.changecontent::after {
    content    : ' ';
    color      : var(--ligth);
    animation  : changetext 10s infinite linear;
    font-weight: 800;
}

@keyframes changetext {
    0% {
        content: "Bodas";
    }

    20% {
        content: "15 años";
    }

    50% {
        content: "Bautismos";
    }

    60% {
        content: "Cumpleaños";
    }

    100% {
        content: "Postres";
    }
}

.content .btn {
    width     : 6rem;
    height    : 2.2rem;
    background: var(--ligth);
    color     : var(--white);
}

/*PRODUCTOS*/

.category .card {
    background: var(--black);
    color     : var(--ligth);
}

.category .card-body a {
    text-decoration: none;
    color          : var(--black);
    background     : var(--ligth);
    padding        : .3rem;

}



/*GALERÍA*/

/*Slider*/

/*--items : 10;
--height: clamp(120px, 30vw, 300px);
--width : clamp(200px, 40vw, 400px);*/

.slider {
    position      : relative;
    height        : 100vh;
    overflow      : hidden;
    pointer-events: none;
    z-index       : 999;
}

.sliderItem {
    --x             : calc(var(--active) * 800%);
    --y             : calc(var(--active) * 200%);
    --start         : calc(var(--active) * 120deg);
    --opacity       : calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow        : hidden;
    position        : absolute;
    z-index         : var(--zIndex);
    width           : var(--width);
    height          : var(--height);
    margin          : calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius   : 10px;
    top             : 50%;
    left            : 50%;
    user-select     : none;
    transform-origin: 0% 100%;
    pointer-events  : all;
    transform       : translate(var(--x), var(--y)) rotate(var(--start));
    transition      : transform 0.9s cubic-bezier(0, 0.02, 0, 1);
}

.sliderItem .sliderBox {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    top       : 0;
    left      : 0;
    transition: opacity 0.9s cubic-bezier(0, 0.02, 0, 1);
    /*opacity : var(--opacity);*/
}

.sliderItem .sliderBox::before {
    content : "";
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
}

.sliderItem img {
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    pointer-events: none;
    background    : #000000c5;
    border        : solid var(--ligth);
    border-radius : 10px;
}

.sliderItem .name {
    position   : absolute;
    color      : var(--ligth);
    font-size  : 1.5rem;
    font-weight: 800;
    bottom     : 20px;
    left       : 20px;
    transition : opacity 0.9s cubic-bezier(0, 0.02, 0, 1);
    text-shadow: 0 4px 4px #0a0a0a;
}


/*NOSOTROS*/

#contain {
    margin-top: 3rem;
}

#contain .card img {
    border: .2rem solid var(--ligth);
}

#contain p {
    margin-top: 3rem;
}

.masters {
    margin: 4rem 0;
}

.masters h2 {
    color     : var(--ligth);
    text-align: center;
    margin    : 2rem 0;
}

.masters .card {
    background: var(--black);
    color     : var(--ligth);
}

.masters .card .share i {
    font-size : 1.5rem;
    transition: .5s;
}

.masters .card .share i:hover {
    cursor: pointer;
    color : var(--white);
}


/*CONTACTO*/

.contact {
    margin-bottom: 3rem;
}

form {
    background-image: url(../src/img/banner2.jpg);
    background-size : cover;
    padding         : 3rem;
}

#contacts input {
    background   : var(--black);
    color        : var(--ligth);
    border-color : var(--ligth);
    margin-bottom: .5rem;
}

#contacts input::placeholder {
    font-size: .7rem;
}

#contacts textarea {
    background   : var(--black);
    color        : var(--ligth);
    border-color : var(--ligth);
    margin-bottom: .5rem;
}

#contacts textarea::placeholder {
    font-size: .7rem;
}

#message-btn {
    text-align: center;
}

#message-btn button {
    width         : 10rem;
    height        : 2rem;
    font-size     : .9rem;
    letter-spacing: 3px;
    border-radius : .3rem;
    background    : var(--black);
    color         : var(--ligth);
    transition    : all .5s ease-in-out;
}

#message-btn button:hover {
    background: var(--ligth);
    color     : var(--black);
}


/*FOOTER*/

footer {
    background: var(--bg-one);
    width     : 100%;
    padding   : 2rem 0;
}

footer h5 {
    color     : var(--ligth);
    margin-top: .5rem;
}

footer .icons i {
    font-size    : 1.5rem;
    color        : var(--ligth);
    margin-bottom: .7rem;
    margin-left  : .5rem;
    transition   : .5s;
}

footer .icons i:hover {
    color : var(--white);
    cursor: pointer;
}

.developed {
    width        : 18rem;
    height       : 4rem;
    border-radius: .3rem;
    border       : solid var(--ligth);
}







/*-------------------------------------------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media screen and (max-width:940px) {
    .slider {
        height: 70vh;
    }
}


@media screen and (max-width:860px) {
    .home {
        height: 120vh;
    }
}

@media screen and (max-width:800px) {
    .content h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:700px) {
    .slider {
        height: 60vh;
    }
}

@media screen and (max-width:560px) {
    .home {
        height: 100vh;
    }

    .content h2 {
        font-size: 1.8rem;
    }

    .slider {
        height: 50vh;
    }

}

@media screen and (max-width:400px) {

    .slider {
        height: 45vh;
    }

}